@import "style.css";

case-intro {
	display: block;
	margin-inline: auto;
	max-width: 600px;
	padding-inline: 24px;

	@media (width >= 1200px) {
		max-width: 1860px;
		position: sticky;
		top: var(--spacing-xl);
	}
	
}

.case-study-inner-column {
	max-width: 600px;

	p + p {
		margin-top: var(--spacing-m);
	}
}

