@import "style.css";

h1 {
	background-color: #7fbc8c;
	max-width: fit-content;
	padding: 10px;
	border-radius: 10px;
	box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
	border: 2px solid black;
}

button, input {
	font-family: inherit;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid black;
}

button {
	box-shadow: 4px 4px 0px 0px rgba(0,0,0,1);
	transition: box-shadow .2s ;
}

button:hover {
	cursor: pointer;
	box-shadow: 6px 6px 0px 0px rgba(0,0,0,1);
}

header {
	.form-links {
		margin-top: 25px;
		overflow: scroll;
		max-height: 80px;
		max-width: 400px;
		
		a + a {
			margin-top: 12px;
		}

		a {
			text-decoration: none;
			background: #7fbc8c;
			padding: 10px;
			border-radius: 10px;
			border: 2px solid black;
		}

		@media (width > 600px) {
			display: grid;
			max-width: 100%;
			max-height: 100px;
			grid-template-columns: repeat(2, 1fr);
			gap: 10px;

			a + a {
				margin-top: 0;
			}
		}

		@media (width > 900px) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}

form {
	max-width: 400px;
	margin-top: 20px;

	h2 + .field,
	p + .field{
		margin-top: 15px;
	}

	button {
		background-color: #fbae17;
		border: 2px solid black;
		color: #000;
	}
}

.field {
	display: flex;
	flex-direction: column;

	label + input {
		margin-top: 10px;
	}

	input {
		border: 2px solid black;
	}
}

.field label {
	font-size: 14px;
}

button[type='submit'], .field + .field {
	margin-top: 10px;

}

form + p {
	margin-top: 10px;
}

.feedback {
	color: green;
}

.error {
	color: red;
}

.form-output {
	margin-top: 25px;
}

