@import "style.css";

.home-content {
	
	/*picture{
	  filter: contrast(800%) grayscale(1);
	}*/

	.morph {
		width: 300px;
		height: 300px;

		path {
			fill: #2EB0B8;
		}
	}

	inner-column {
		

		.intro {
			padding-top: 72px;
			padding-bottom: 120px;

			@media(width >= 1024px) {
				padding-top: 0;
				padding-bottom: 200px;
			}
		}

	}
	

	work-cards {
		display: grid;

		work-card {
			display: flex;
			flex-direction: column;
			gap: 8px;

		}

		h3 + work-card {
			margin-top: 16px;
		}

		work-card + work-card {
			margin-top: 48px;
		}
	}


	work-cards + .about {
		margin-top: 120px;
	}

	.about {
		h4 + p {
			margin-top: 24px;
		}
	}
}