@import "style.css";

.main-garden {
	inner-column {
		.garden-module + .garden-module{
			margin-top: 50px;
		}
	}

	medley-layout-1 {
		display: block;
		inner-column {
			max-width: 1400px;
		}

		grid,
		grid-cards,
		grid-pictures {
			display: grid;
			gap: 20px;

			@media(width >= 600px) {
				grid-template-columns: 1fr 1fr;
			}

			@media(width >= 1000px) {
				grid-template-columns: repeat(4, 1fr);
			}
		}

		grid {
			header {
				padding-block: 40px;
				@media(width >= 600px) {
					grid-column: span 2;

					p {
						max-width: 75%;
					}
				}
			}

			grid-cards {
				@media(width >= 600px) {
					grid-column: span 2;
				}

				@media(width >= 1000px) {
					grid-column: 1 / 3;
				}

				grid-card {
					@media(width >= 1000px) {
						grid-column: span 2;
					}
					display: flex;
					flex-direction: column;
					gap: 10px;
					padding-block: 20px;
					border-bottom: 1px solid black;
				}

				grid-card:nth-of-type(1) {
					border-top: 1px solid black;
					padding-top: 40px;
					@media(width >= 1000px){
						padding-top: 20px;
					}
				}

				@media(width >= 600px) {
					grid-card:nth-of-type(2) {
						border-top: 1px solid black;
					}
				}
			}

			grid-pictures {
				@media(width >= 600px) {
					grid-column: span 2;
				}

				@media(width >= 1000px) {
					grid-row: 1 / 3;
					grid-column: 3 / 5;
					margin-top: 60px;
				}

				picture {
					@media(width >= 1000px) {
						grid-column: span 2;

					}
				}
			}

		}
	}

	medley-layout-2 {
		--color-1:#76757e;
		--color-2:#e0ece4;
		--color-3:#a0f9b9;

		display: block;
		background-color: var(--color-1);
		color: var(--color-2);

		inner-column,
		cards {
			display: grid;
			gap: 40px;

			@media (width >= 700px) {
				grid-template-columns: 1fr 1fr;
			}

			@media (width >= 1000px) {
				grid-template-columns: repeat(4, 1fr);
			}
		}

		inner-column {
			max-width: 1400px;

			p {
				text-wrap: pretty;
			}
			
			header {
				@media (width >= 700px) {
					grid-column: span 2;

					p {
						max-width: 80%;
					}
				}

				@media (width >= 1000px) {
					grid-row: 1;
				}

				.teaser {
					margin-bottom: 10px;
					color: var(--color-3);
					font-weight: 700;
				}
			}

			cards {
				@media (width >= 700px) {
					grid-column: span 2;
				}

				@media (width >= 1000px) {
					grid-row: 2;
					grid-column: span 4;
				}

				card {
					display: flex;
					flex-direction: column;
					gap: 10px;

					@media (width >= 1000px) {
						grid-column: span 2;
					}

					p {
						max-width: 80%;
					}

					@media (width >= 700px) {
						border: 2px solid var(--color-2);
						box-shadow: 2px 2px 0 0 var(--color-2);
						padding: 20px;

						p {
							max-width: 90%;
						}
					}

					@media (width >= 1000px) {
						padding: 40px;
						gap: 20px;
					}
				}
			}

			message {
				display: grid;
				gap: 20px;

				@media (width >= 1000px) {
					grid-row: 4;
				}

				.divider {
					width: 75%;
					height: 2px;
					background-color: var(--color-3);
				}

				p {
					max-width: 80%;
				}

				@media (width >= 700px) {
					grid-column: span 2;

					.divider {
						display: none;
					}

					background-color: var(--color-3);
					color: var(--color-1);
					padding: 20px;
					max-width: 60%;

				}


			}
		}
	}

	medley-layout-3 {
		display: block;
		--color-1: #994578;
		--color-2: #86f909;
		background-color: var(--color-1);
		color: var(--color-2);

		inner-column {
			max-width: 1400px;
		}

		header {
			background-color: var(--color-2);
			color: var(--color-1);
			inner-column {
				padding-top: 80px;

				p {
					max-width: 85%;
				}

				@media (width >= 700px){
					padding-bottom: 120px;
				}

				@media (width >= 800px) {
					padding-bottom: 225px;

					p {
						max-width: 30%;
					}
				}
			}
		}

		cards {
			display: block;
			padding-block: 40px 200px;

			@media (width >= 700px) {
				position: relative;
				height: 1000px;
			}

			@media (width >= 800px) {
				height: 350px;
			}

			inner-column {
				display: flex;
				flex-direction: column;
				gap: 40px;


				@media (width >= 700px) {
					position: absolute;
					top: -10%;
					left: 2%;
					right: 2%;
					gap: 20px;
				}

				@media (width >= 800px) {
					flex-direction: row;
					top: -30%;
				}

				card {
					display: flex;
					flex-direction: column;
					gap: 20px;

					p {
						max-width: 80%;
					}

					@media (width >= 700px){
						background-color: var(--color-2);
						color: var(--color-1);
						border: 2px solid black;
						box-shadow: 2px 2px 0 0 black;
						padding: 40px 20px;

						p {
							max-width: 60%;
						}

						svg {
							fill: var(--color-1);;
						}
					}

					@media (width >= 800px) {
						p {
							max-width: 100%;
						}
						padding: 60px 20px;
					}
				}
			}
		}
	}

	fun-cta {
		--main-color: #ff5b5e;
		--secondary-color: #fff;
		display: block;

		inner-column{
			background-color: var(--main-color);
			margin-block: 40px;
			border: 1px solid black;
			border-radius: 8px;
			max-width: 1000px;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 40px;

			.loud-voice {
				font-size: 3.5rem;
			}

			.highlighted {
				background-color: var(--secondary-color);
			}

			header {
				grid-column: span 3;
				display: flex;
				justify-content: space-between;
				align-items: center;

				.discount {
					background-color: var(--secondary-color);
					border: 1px solid black;
					max-width: 150px;
					padding: 50px 20px;
					border-radius: 50%;
					transform: rotate(15deg) translateY(-45px);
				}
			}

			.main-text {
				p {
					text-wrap: balance;
				}

				h3 + p,
				p + p {
					margin-top: 20px;
				}
			}

			.pricing {
				grid-column: span 2;
				display: flex; 
				flex-direction: column;
				gap: 20px;

				ul {
					li {
						display: flex;
						justify-content: space-between;
						border-bottom: 1px solid black;
						padding-block: 10px;

						.price {
							font-weight: normal;
						}
					}

					li:nth-of-type(1) {
						border-top: 1px solid black;
					}
				}
			}

			footer {
				grid-column: 1;
			}
		}
	}
}
