@import "style.css";

.resume {
	header {
		grid-column:span 3;
	}

	resume {
		display: grid;
		grid-column:span 3;


		picture {
			max-width: 390px;
		}

		.experience-sublist {
			list-style-type: "-";
		}

		picture + .intro,
		.intro + .education,
		.education + .experience {
			margin-top: 24px;
		}

		.intro,
		.education,
		.experience {
			h3 {
				border-bottom: 1px solid black;
				padding-block: 12px;
			}

			ul {
				padding-block: 12px;
			}

		}

		.intro {
			p {
				padding-block: 12px;
			}
		}

		.experience {
			.experience-list {
				.job {
					border-bottom: 1px solid black;
					padding-top: 12px;
				}

				.title {
					p:nth-of-type(1) {
						font-style: italic;
					}

					display: flex;
					align-items: center;
					justify-content: space-between;
				}

				.title + p {
					margin-top: 12px;
				}
			}

			.experience-sublist {
				display: grid;
				gap: 12px;
			}
		}
	}
	
}