:root {
	/*MAIN PALETTE*/
	--main-white: #F5F5F5;
	--main-black: #141414;
	--main-red: #FF002F;

	/*ACCENT PALETTE*/
	--yellow: #FFC800;
	--green: #69CF79;
	--teal: #2EB0B8;

	--spacing-unit: 0.5rem;
	--space-increment: 1;
	--accent-hue: 180;
	--accent-saturation: 0;
	--accent-lightness: 50%;
	--grey-saturation: 50%;
	--text-frame-y: 0.5em;
	--text-frame-ratio: 1.5;

}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

/**::selection {
  background: var(--main-black);
  color: var(--main-white);
}
*::-moz-selection {
  background: var(--main-black);
  color: var(--main-white);
}
*::-webkit-selection {
  background: var(--main-black);
  color: var(--main-white);
}*/

.main-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	@media (width >= 630px) {
		grid-template-columns: repeat(8, 1fr);
	}

	@media (width >= 1024px) {
		grid-template-columns: repeat(12, 1fr);
	}
}

a {
	text-decoration: none;
	display: block;
	color: inherit;
}

p a {
	display: inline;
	color: inherit;
	text-decoration: underline;
}

p,
figcaption {
	max-width: 75ch;
}


picture {
	display: block;
	border-radius: 10px;
	overflow: hidden;
	object-fit: contain;
}

img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

inner-column {
	display: block;
	max-width: 1440px;
	padding-block: 48px;
	padding-inline: 16px;

	@media (width > 1024px){
		padding-inline: 48px;
	}
}

section inner-column {
	@media(width >= 1024px) {
			padding-left: 0;
		}
}

.body-invert,
.body-garden {
	background-color: var(--main-white);
	color: var(--main-black);
}

.header-invert,
.header-garden {
	background-color: var(--main-black);
	color: var(--main-white);
}

.header-garden {

		@media (width >= 1024px){
			grid-column: span 2;
			grid-row: span 2;
		}
}

.main-garden {

	@media (width >= 630px) {
		grid-column: span 8;
	}	

	@media (width >= 1024px) {
		grid-row: auto;
		grid-column: 3/14;

		inner-column {
			max-width: 100%;
			padding: 0;
			padding: 8px;
		}
	}
}

.logo.hidden {
	display: none;
}

.hidden {
	@media (width >= 1024px) {
			display: none;
	}
}

.show {
	@media (width >= 1024px) {
			display: block;
	}
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

button:hover {
	cursor: pointer;
}