:root {
	/*BRAND COLORS*/
	--green-100: #05e67f;
	--pink-100: #ea8eb4;
	--blue-100: #1a2284;
	--yellow-100: #edc95f;
	--red-100: #f43f5e;
	--black-100: #1C1C1C;
	--white-100: #F5F5F5;

	--main-white: #f5f5f4;
	--main-black: #0c0a09;
	--main-red: #ec0d39;

	/*REST OF THE COLORS*/
	--green-75: #6EB88D;
	--green-50: #9BCCB0;
	--pink-75: #E9AACC;
	--pink-50: #EDC3DA;
	--blue-75: #5F8197;
	--blue-50: #91A7B6;
	--yellow-75: #FFC87C;
	--yellow-50: #FFDBA7;
	--red-75: #E55671;
	--red-50: #ED8EA0;
	--black-75: #2C2C2C;
	--black-50: #7A7777;
	--white-75: #E3E3E3;
	--white-50: #C7C7C7;

	/*SPACING*/
	--spacing-xxxs: 4px;
	--spacing-xxs: 8px;
	--spacing-xs: 16px;
	--spacing-s: 24px;
	--spacing-m: 32px;
	--spacing-l: 48px;
	--spacing-xl: 64px;
	--spacing-xxl: 96px;
	--spacing-xxxl: 128px;

}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*::selection {
  background: var(--green-100);
  color: var(--main-black);
}
*::-moz-selection {
  background: var(--green-100);
  color: var(--main-black);
}
*::-webkit-selection {
  background: var(--green-100);
  color: var(--main-black);
}


a {
	text-decoration: none;
	display: block;
	color: inherit;
}

p a {
	display: inline;
	color: inherit;
	text-decoration: underline;
}

picture,
video {
	display: block;
	overflow: hidden;
	object-fit: contain;
}


img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

inner-column {
	display: block;
	margin-inline: auto;
	max-width: 1860px;
	padding-inline: 24px;
}

.site-header + main {
	margin-top: var(--spacing-m);
}

.hidden {
	@media (width >= 1024px) {
			display: none;
	}
}

.show {
	@media (width >= 1024px) {
			display: block;
	}
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

button:hover {
	cursor: pointer;
}