:root {
	/*MAIN PALETTE*/
	--main-white: #FBFBF6;
	--main-black: #000000;

	/*ACCENT PALETTE*/
	--yellow: #FFE317;
	--orange: #F98A03;
	--red: #F16C6A;
	--brick: #D47D8D;
	--purple: #A390B2;
	--dark-purple: #584D84;
	--purple-blue: #8594D1;
	--blue: #589DDA;
	--teal: #2EB0B8;
	--green: #69CF79;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

*::selection {
  background: var(--main-black);
  color: var(--main-white);
}
*::-moz-selection {
  background: var(--main-black);
  color: var(--main-white);
}
*::-webkit-selection {
  background: var(--main-black);
  color: var(--main-white);
}

.main-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 12px;

	@media (width >= 630px) {
		gap: 30px;
	}

	@media (width >= 1024px) {
		grid-template-columns: repeat(6, 1fr);
		gap: 36px;
	}
}

.main-subgrid {
	display: grid;
	grid-template-columns: subgrid;
	grid-column: span 3;
	gap: inherit;

	@media (width >= 1024) {
		grid-column: span 6;
		grid-template-columns: repeat(4, 1fr);
	}
}

p {
	line-height: 1.35;
}

a {
	text-decoration: none;
	display: block;
	color: inherit;
	/*max-width: fit-content;*/
}

p a {
	display: inline;
	color: inherit;
	text-decoration: underline;
}


picture {
	display: block;
}

img {
	display: block;
	width: 100%;
	height: 100%;
}


.button {
	background-color: var(--main-white);
	color: var(--main-black);
	border: 1px solid var(--main-black);
	border-radius: 50px;
	padding: 6px 0px;
	width: 100px;
	text-align: center;
	display: grid;
	align-items: center;
	justify-content: center;

	@media (width >= 1024px) {
		width: 125px;
		
	}
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

button:hover {
	cursor: pointer;
}