@import "style.css";

.slide {
	height: 100vh;
	display: flex;
	/*align-items: center;*/
	justify-content: center;
	text-align: left;
	flex-direction: column;
	padding: 2rem;
	scroll-snap-align: start;

	inner-column {
		margin-inline: 0;
	}

}

body.slides-mode {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
}

.slides-mode-active {
	background-color: var(--blue);
}

.style-guide {

	section + section {
		margin-top: 24px;

		@media (width >= 1024px) {
			margin-top: 64px;
		}
	}

	ol {
		list-style-type: disk;
		margin-left: 12px;
	}

	inner-column {

		div {
			grid-column: span 3;

			picture {
				@media (width >= 700px) {
					max-width: 75%;
				}
				
			}

			@media (width >= 1024px) {
				grid-column: span 6;
			}

			h2 + p,
			h2 + h3,
			h3 + p,
			h2 + ul,
			h2 + ol,
			li + li,
			p + picture {
				margin-top: 12px;

				@media (width >= 1024px) {
					margin-top: 24px;
				}
			}

			
		}

	}
}