@import "style.css";

.slide {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	flex-direction: column;
	padding: 2rem;
	scroll-snap-align: start;
}

body.slides-mode {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
}

.slides-mode-active {
	background-color: var(--blue);
}