@import "reset.css";
@import "setup.css";
@import "typography.css";

html {
	scroll-behavior: smooth;
	--black: #151515;
	--off-white: #cbcbcb;
	overflow-x: hidden;
}

body {
	background-color: #f5f5f5;
	font-family: "Inter", sans-serif;
	overflow-x: hidden;
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}

main {
	flex: 1;
}

.garden-module {
	font-family: monospace;
}

inner-column {
	display: block;
	max-width: 1200px;
	margin-inline: auto;
	padding: 20px;
}

h2 + p,
h2 + ul,
p + h3,
h2 + h3{
	margin-top: 15px;
}

.site-header {
	masthead {
		display: flex;
		flex-direction: column;
/*		max-width: 50%;*/
/*		justify-content: space-between;*/
		gap: 20px;
		
		.site-title a {
			text-transform: uppercase;
			text-decoration: none;
			text-wrap: balance;
		}

		.menu-container {
			display: flex;
			flex-direction: column;
			position: relative;

			.menu {
				display: flex; 
/*				flex-direction: column;*/
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				gap: 20px;
				top: 40px;
				left: 0;
				width: 100%;
				max-width: 250px;
				position: absolute;
				z-index: 1000;
/*				background-color: rgb(255 255 255 / 0.9);*/
				background-color: #f5f5f5;
				border: 1px solid #0c0c0c;
				border-radius: 5px;
				padding: 20px;

				@media (width >= 500px) {
					max-width: 660px;
					justify-content: start;
				}
			}			

		}

		button,
		.menu a {
			border-radius: 5px;
			padding: 5px;
			border: 1px solid black;
			box-shadow: 2px 2px 0px 0px rgba(0,0,0,1);
			text-decoration: none;
			max-width: 150px;
			text-align: center;
			color: #000;
			transition: all 0.5s;
			background-color: #f5f5f5;
			min-width: 190px;
		}

		button:hover,
		.menu a:hover {
			box-shadow: none;
		}


		/*nav {
			display: flex;
			gap: 20px;
			align-items: center;
			
			a {
				color: #000;
			}
		}*/
	}

	.back-to-top-button {
		position: fixed;
		bottom: 10px;
		right: 10px;
		z-index: 1000;
		background-color: black;
		color: #f5f5f5;
		padding: 2px;
		border-radius: 8px;
		text-decoration: none;
	}
}

.site-footer {
	padding-block: 10px;

	a {
		max-width: fit-content;
	}
}