/*TYPOGRAPHY*/
@font-face {
	font-family: "PP Neue Montreal";
	src: url("../assets/fonts/PPNeueMontreal-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PP Neue Montreal";
	src: url("../assets/fonts/PPNeueMontreal-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "PP Neue Montreal";
	src: url("../assets/fonts/PPNeueMontreal-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}

.quiet-voice {
	font-size: 0.75rem;
	font-weight: 500;
}

.calm-voice,
p,
input,
button {
	font-size: 1rem;
	font-weight: 400;
	@media (width >= 1024px) {
		font-size: 1.125rem;
	}
}

.strong-voice {
	font-size: 1rem;
	font-weight: 600;
	@media (width >= 1024px) {
		font-size: 1.125rem;
	}
}

.attention-voice {
	font-size: 1.5rem;
	font-weight: 700;

	@media (width >= 630px) {
		font-size: 3rem;
	}

	@media (width >= 1024px) {
		font-size: 4rem;
	}
}

.loud-voice {
	font-size: clamp(2.5rem, 10vw, 8rem);
	font-weight: 800;
}

.logo {
	font-weight: 700;
	text-transform: uppercase;
	font-size: clamp(2.5rem, 10vw, 8rem);
}

p {
	text-wrap: pretty;
	max-width: 75ch;
	line-height: 1.45;
}
