/*TYPOGRAPHY*/
:root{
	font-family: Inter, sans-serif;
   font-feature-settings: 'liga' 1, 'calt' 1, "ss02" 1, "ss07" 1, "ss08" 1;
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}


.quiet-voice {
	font-size: clamp(.875rem, 5vw, 1rem);
}

p,
.calm-voice
{
	font-size: clamp(1.125rem, 5vw, 1.25rem);
	
}

.strong-voice {
 /*has this become redundant?*/
}

.attention-voice {
	font-size: clamp(3rem, 5vw, 4rem);

}

.loud-voice {
	font-size: clamp(6rem, 5vw, 8rem);
	
}

.display {
	font-size: clamp(8rem, 5vw, 12.5rem);
}

.display.home-logo {
	font-size: clamp(1rem, 16vw, 20rem);
	/*font-size: 18rem;*/
	font-weight: 900;
	letter-spacing: -6.5%;
}
