@import "reset.css";
@import "setup.css";
@import "typography.css";
@import "utilities.css";

button {
	transition: all .2s ease;
}

.site-header {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: white;
	
	.login-and-signup,
	.login-and-signup-mobile {
		button {
			border: 1px solid var(--origin-blue-light);
			padding: 8px 22px;
			border-radius: 5px;
			min-width: 102px;
		}

		.signup-button {
			background-color: white;
			color: var(--origin-blue-light);
		}

		.login-button {
			background-color: var(--origin-blue-light);
			color: white;
		}
	}

	.login-and-signup-mobile {
		.login-button {
			border: 1px solid white;
		}
	}
	
	.mobile-menu-toggle {
		display: block;
		background-color: white;
		border: none;
		font-size: 2rem;
	}

	.mobile-menu-toggle.blue {
		background-color: var(--origin-blue-light);
	}

	.mobile-menu {
 		ul {
 			margin-top: 169px;
 		}

		li + li {
			margin-top: 14px;
		}

		.login-and-signup-mobile {
			display: flex;
			align-items: center;
			margin-top: 102px;
			gap: 10px;
		}
	}
	masthead {
		inner-column {
			justify-content: space-between;
			.desktop-menu {
				display: none;
			}

		}
		
	}

	@media (width >= 1000px) {
		.mobile-menu,
		.mobile-menu-toggle {
			display: none;
		}
		masthead {
			inner-column {
				/*justify-content: space-around;*/
				.desktop-menu {
					display:flex;
					align-items: center;
					justify-content: space-between;
					/*gap: 100px;*/
				}


				nav {
					ul {
						gap: 30px;
					}
				}

				.login-and-signup {
					gap: 10px;
				}
			}

			.signup-button:hover {
				background-color: var(--origin-blue-light);
				color: white;
			}

			.login-button:hover {
				background-color: white;
				color: var(--origin-blue-light);
			}
		}
	}
}

.hero {
	background-color: var(--origin-blue-light);
	color: white;
	padding-top: 160px;
	padding-bottom: 80px;
	

	.hero-text {
		p {
			color: var(--system-50);
		}
	}

	inner-column {
		gap: 50px;
		text-align: center;

		.hero-text {
			justify-content: center;
			align-items: center;
			gap: 16px;

			h1 {
				text-transform: uppercase;
				letter-spacing: 3.2px;
				line-height: 1;
			}
		}

		.hero-signup {
			display: flex;
			flex-direction: column;
			gap: 10px;
			max-width: 350px;
			margin-inline: auto;

			.field {
				background-color: var(--darker-blue-light);
				border-radius: 5px;
				padding: 10px 20px;

				svg {
					width: 20px;
					height: 20px;
				}
				/*gap: 10px;*/

				input {
					padding: 5px 10px;
					background-color: var(--darker-blue-light);
					color: var(--system-300);
					border: none;
				}
			}

			button {
				min-height: 50px;
				padding: 15px 20px;
				border: 1px solid transparent;
				border-radius: 5px;
				background-color: white;
				color: var(--origin-blue-light);
			}
		}

		@media (width >= 1000px) {
			/*padding-block: 80px;*/
			padding-inline: 120px;
			gap: 50px;

			.hero-text {
				justify-content: center;
				align-items: center;
				gap: 16px;

				h1 {
					line-height: 80px;
				}

				p {
					padding-inline: 120px;
				}
				
			}

			.hero-signup {
				flex-direction: row;
				justify-content: center;
				gap: 20px;

				button {
					min-width: 105px;
				}

				button:hover {
					border: 1px solid white;
					background-color: var(--origin-blue-light);
					color: white;
				}
			}
		}
	}
	
}

.center-content {
	inner-column {
		padding-block: 80px;
		align-items: center;
		gap: 60px;

		text-align: center;

		header {
			p + h2 {
				margin-top: 16px;
			}
		}

		.center-content-cards-container {
			.center-content-cards {
				display: grid;
				gap: 32px;

				@media (width >= 900px) {
					grid-template-columns: repeat(3, 1fr);
				}

				li {
					max-width: 356px;
					h3 + p {
						margin-top: 16px;
					}
				}
			}
		}

		.link {
			max-width: 100%;
			gap: 10px;
			color: var(--origin-blue-light);
		}
		
		@media (width >= 1000px) {	
			padding-inline: 120px;

			header {
				padding-inline: 120px;
			}


			.link {
				
			}
		}
	}
	
}

.features {
	inner-column {
		padding-block: 40px;
		gap: 60px;
		align-items: center;
		text-align: center;

		header {
			display: grid;
			gap: 32px;
		}

		.features-cards {
			display: grid;
			gap: 39px;

			@media (width >= 650px) {
				grid-template-columns: repeat(2, 1fr);
			}

			.feature-card {
				flex-direction: column;
				gap: 22px;
				padding: 10px;
				max-width: 374px;
			}

		}
		@media (width >= 1000px) {

			padding-block: 80px;
			padding-inline: 120px;
			

			header {
				padding-inline: 120px;
			}

			.features-cards{
				
				grid-template-columns: repeat(3, 1fr);
				
				.feature-card {
					padding: 20px;
				}
			}
		}
	}
	
}

.clients {
	inner-column {
		padding-block: 40px;
		align-items: center;
		text-align: center;
		gap: 35px;

		header {
			display: grid;
			gap: 32px;
		}

		graphic-diptych {
			gap: 39px;

			.text {
				display: grid;
				gap: 16px;
			}
		}
	}
	@media (width >= 1000px) {
		inner-column {
			padding-block: 80px;
			padding-inline: 120px;
			gap: 70px;
			
			header {
				padding-inline: 120px;
			}

			graphic-diptych {
				picture {
					flex-basis: 50%;
				}

				.text {
					flex-basis: 50%;
					gap: 32px;
				}
			}
		}
	}
	
}

.faqs {
	inner-column {
		padding-block: 80px;
		align-items: center;
		text-align: center;
		gap: 35px;

		.text {
			display: grid;
			gap: 16px;
		}

		accordion {
			display: grid;

			.faq-list {
				display: grid;
				gap: 20px;

				details {
				  border: 1px solid #aaa;
				  border-radius: 4px;
				  padding: 0.5em 0.5em 0;
				  max-width: 350px;
				}

				summary {
					color: black;
				  	font-weight: bold;
				  	margin: -0.5em -0.5em 0;
				  	padding: 0.5em;

				  	display: flex;
				  	align-items:center;
				  	justify-content: space-between;
				}

				details[open] {
				  padding: 0.5em;
				}

				details[open] summary {
				  border-bottom: 1px solid #aaa;
				  margin-bottom: 0.5em;
				}

				details summary .summary-toggle::after {
					content: '+';
				}

				details[open] summary .summary-toggle::after {
					content: '−';
				}
			}

			
		}

		@media(width >= 1000px) {
			flex-direction:row;
			
			padding-block: 80px;
			padding-inline: 120px;
			gap: 70px;
			

			.text {
				flex-basis: 50%;
			}

			accordion {
				flex-basis: 50%;
			}
		}
	}
	
	
}

.cta {
	inner-column {
		align-items: center;
		text-align: center;
		gap: 48px;
		padding-block: 40px;

		.text-and-signup {
			display: grid;
			gap: 24px;

			.text {
				h2 + p {
					margin-top: 16px;
				}
			}

			.cta-signup {
				display: flex;
				flex-direction: column;
				gap: 10px;
				/*gap: 20px;*/
				max-width: 350px;
				margin-inline: auto;
				

				.field {
					background-color: white;
					border-radius: 5px;
					border: 1px solid var(--system-500);
					padding: 10px 20px;

					svg {
						width: 20px;
						height: 20px;
					}
					
					/*gap: 10px;*/

					input {
						padding: 5px 10px;
						background-color: white;
						color: var(--system-500);
						border: none;
					}
				}	

				button {
					min-height: 50px;
					padding: 15px 20px;
					border: none;
					border-radius: 5px;
					background-color: var(--origin-blue-light);
					color: white;
					border: 1px solid transparent;
				}
			}
		}

		@media(width >= 1000px) {
			flex-direction:row;
			padding-block: 80px;
			padding-inline: 120px;

			.text-and-signup {
				flex-basis: 50%;

				.cta-signup {
					flex-direction: row;
					justify-content: center;
					align-items: center;
					gap: 20px;
				}

				button:hover {
					background-color: white;
					color: var(--origin-blue-light);
					border: 1px solid var(--origin-blue-light);
				}
			}

			picture {
				flex-basis: 50%;
			}
		}
	}
	
}

footer {
	inner-column {
		gap: 47px;
	}

	background-color: var(--origin-blue-light);
	color: white;
	padding-block: 40px;
	.divider {
		width: 100%;
		height: 1px;
		border: 1px solid white;
	}

	.links-and-subscribe {
		display: grid;
		gap: 61px;

		.links {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 69px;
			padding-top: 27px;

			li {
				h3 + ul {
					margin-top: 15px;
				}

				ul {
					display: grid;
					gap: 13px;
				}
			}
		}

		.subscribe {
			background-color: var(--darker-blue-light);
			padding: 15px 21px;
			display: grid;
			gap: 18px;
			max-width: 300px;

			.field {
				background-color: white;
				padding: 0 0 0 15px;
				display:flex;
				align-items:center;
				border-radius: 5px;
				input {
					padding: 15px;
					border: none;
					background-color: white;
				}

				button {
					width: 100%;
					height: 100%;
					padding: 15px;
					border: none;
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
					background-color: var(--origin-blue-light);
					color: white;
				}
			}
		}
	}

	.legal-and-social-links {
		display: flex;
		flex-direction:column;
		gap: 20px;

		.legal,
		.social {
			gap: 10px;
		}
	}

	@media(width >= 1000px) {
		padding-block: 80px;
		.links-and-subscribe {
			padding-inline: 120px;
			grid-template-columns: repeat(4, 1fr);

			.links {
				grid-column: span 3;
				grid-template-columns: repeat(3, 1fr);
			}

			.subscribe {
				padding: 30px 42px;
			}
		}

		.legal-and-social-links {
			flex-direction: row;
			justify-content: space-between;
		}
	}
	
}
