@import "reset.css";
@import "setup.css";

.loud-voice {
	font-size: clamp(1rem, 10vw, 4rem);
	font-weight: 800;
}

.strong-voice {
	font-size: 1.25rem;
	font-weight: 700;
}

.attention-voice {
	font-size: 3rem;
	font-weight: 600;
}

.flex-center {
	display: flex;
	align-items: center;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.circle {
	width: 10px;
	height: 10px;
	background-color: black;
	border-radius: 50%;
}

.site-header {
	masthead {
		justify-content: space-between;

		nav {
			ul {
				gap: 30px;
			}
		}

		.login-and-signup {
			gap: 20px;
		}
	}
}

.hero {
	inner-column {
		padding-block: 80px;
		padding-inline: 120px;
		gap: 50px;

		text-align: center;

		.hero-text {
			justify-content: center;
			align-items: center;
			gap: 16px;

			h1 {
				text-transform: uppercase;
				letter-spacing: 3.2px;
				line-height: 80px;
			}

			p {
				padding-inline: 120px;
			}
			
		}

		.hero-signup {
			justify-content: center;
			gap: 20px;
		}
	}
}

.center-content {
	inner-column {
		align-items: center;
		padding-block: 80px;
		padding-inline: 120px;
		gap: 60px;

		text-align: center;

		header {
			padding-inline: 120px;
		}

		.center-content-cards-container {
			.center-content-cards {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				gap: 32px;
			}
		}

		.link {
			gap: 10px;
			img {
				width: 25%;
			}
		}
	}
}

.features {
	inner-column {
		align-items: center;
		padding-block: 80px;
		padding-inline: 120px;
		text-align: center;

		header {
			padding-inline: 120px;
		}

		.features-cards{
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 39px;

			.feature-card {
				flex-direction: column;
			}

		}
	}
}

.clients {
	inner-column {
		align-items: center;
		padding-block: 80px;
		padding-inline: 120px;
		text-align: center;

		header {
			padding-inline: 120px;
		}

		graphic-diptych {
			gap: 39px;
			picture {
				flex-basis: 50%;
			}

			.text {
				flex-basis: 50%;
			}
		}
	}
}

.faqs {
	inner-column {
		flex-direction:row;
		align-items: center;
		padding-block: 80px;
		padding-inline: 120px;
		text-align: center;
		gap: 70px;

		.text {
			flex-basis: 50%;
		}

		accordion {
			display: grid;
			flex-basis: 50%;
		}
	}
	
}

.cta {
	inner-column {
		flex-direction:row;
		align-items: center;
		padding-block: 80px;
		padding-inline: 120px;
		text-align: center;
		gap: 48px;

		.text-and-signup {
			flex-basis: 50%;
		}

		picture {
			flex-basis: 50%;
		}
	}
	
}

footer {
	.links-and-subscribe {
		padding-inline: 120px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		.links {
			grid-column: span 3;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
	}

	.divider {
		width: 100%;
		height: 1px;
		border: 1px solid black;
	}

	.legal-and-social-links {
		justify-content: space-between;
	}
}
