@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.loud-voice {
	font-size: clamp(1rem, 10vw, 4rem);
	font-weight: 800;
}

.strong-voice {
	font-size: 1.15;
	font-weight: medium;

	@media(width >= 1000px) {
		font-size: 1.25rem;
	}
}

.attention-voice {
	font-size: clamp(1rem, 8vw, 3rem);
	font-weight: 600;
}

.quiet-voice {
	@media(width >= 1000px) {
		font-size: 0.875rem;
	}
}