* {
				box-sizing: border-box;
				padding: 0;
				margin: 0;
			}

			body {
				margin-inline: 10%;
				font-family: monospace;
				background-color: #eee;
			}

			ul	{
				list-style: none;
			}

			section {
				padding: 25px;
			}

			h2 {
				text-transform: uppercase;
				font-size: 28px;
			}

			li {
				margin-bottom: 15px;
			}

			h2 + ul {
				margin-top: 15px;
			}

			a:focus{
				background-color: #59cd90;
			}

			.links-list a {
				color: black;
				text-decoration: none;
				border: 1px solid black;
				display: block;
				padding: 10px;
				font-size: 16px;
				letter-spacing: 1px;
				max-width: 500px;
			}

			.design-dev .links-list a:hover {
				background-color: #fac05e;
			}

			.inspiration .links-list a:hover {
				background-color: #3fa7d6;
			}

			.favorite-sites .links-list a:hover{
				background-color: #ee6352;
			}