.login-form {
	display: flex;
	flex-direction: column;
	gap: 12px;
	max-width: 300px;
	margin-block: 60px;

	.field {
		display: grid;
		grid-template-columns: 100px 1fr;
		align-items: center;
		
		input {
			padding: 10px;
			width: 100%;
		}
	}

	button {
		align-self: end;
		min-width: 100px;
	}

	@media (width >= 450px) {
		margin-inline: auto;

		button {
/*			align-self: start;*/
			max-width: 100px;
		}
	}
}