.update-resource {
	margin-block: 60px;
	header + form {
		margin-top: 30px;
	}

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
		max-width: 500px;
	}
	.update-form {
		display: flex;
		flex-direction: column;
		gap: 12px;
		max-width: 500px;

		button {
			align-self: end;
			min-width: 180px;
		}

		.field {
			display: grid;
			grid-template-columns: 100px 1fr;
			align-items: center;
			gap: 20px;
			input,
			textarea {
				padding: 10px;
			}
		}
	}
}