programmers-intro,
info,
tools,
overview,
code-examples {
  display: block;
}

programmers-intro {
  display: flex;
  flex-direction: column;
  border: 4px solid #9ec9eb
}

@media (min-width: 500px) {
  programmers-intro {
    flex-direction: row;
  }
  
  overview {
    flex-basis: 50%;
  }
  
  code-examples {
    flex-basis: 50%;
  }
}

@media (min-width:700px) {
  overview {
    max-width: 360px
  }
  
  tools {
    display: flex;
  }
  
  tools section {
    width: 50%;
  }
  
  code-examples {
    flex-basis: 100%
  }
}

overview {
  border: 4px solid lime;
}

info {
  border: 4px solid red;
}

tools {
  border: 4px solid yellow;
  
}

code-examples {
  border: 4px solid hotpink;
}

code {
  display: block;
  background-color: #333;
  color: lime;
  padding: 100px;
}