/* SETTINGS  ("variables" in our case) */
html {
	--black: #111111;
	--white: #FFFFFF;
	--off-white: #E7E6E3;
	--color: #9ec9eb;
	--highlight: #aadee9;
	--yellow: #EAC04E;
	--green: #BEDA59;
	--red: #FF3C35;
	--blue: #9CBDC3;
	--orange: #FC6A38;
}
/* you can make more! */



/* USAGE */

.thingy {
	color:  var(--highlight); /* used as variable */
}
