
articles-intro {
  display: block;
}

articles-intro header {
  margin-bottom: 40px;
}

articles-intro article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}
