
mast-head {
  display: block;

  .button {
    color: var(--charcoal);
    background-color: var(--orange);
  }

  .ember-button {
/*  background-color: var(--ember-orange);*/
  }

  .button + .button {
    margin-left: 10px;
  }

  .visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  .user-menu {
    margin-top: 20px;
  }
}

mast-head nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

mast-head .logo {
  font-size: 4rem;
  max-width: 80px;
  padding: 0;
  
}

mast-head a {
  font-size: 1rem;
  padding:  10px;
}

@media (width >= 756px) {
  mast-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    nav {

    }

    .logo {
      margin-right: 60px;
    }

    .visually-hidden {
      clip: auto;
      clip-path: none;
      height: auto;
      overflow: visible;
      position: static;
      white-space: normal;
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    .user-menu {
    margin-top: 0;
  }
  }
}
