.monsters {
	inner-column {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 100px;

		@media (width < 900px) {
			grid-template-columns: 1fr;
		}
	}
}

monster-card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 50px;
	position: relative;

	@media (width < 600px) {
		grid-template-columns: 1fr;
	}

	picture {
		object-fit: contain; 
		grid-column: 1;
		grid-row: 1;
		align-self: start;
		z-index: 2;
		aspect-ratio: 1 / 1;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
	}

	.text {
		z-index: 2;
	}

	.circle {
		width: 60px;
		height: 60px;
		padding: 5px;
		border-radius: 50%;
		position: absolute;
		bottom: 0;
		right: 0;


		@media (width < 500px) {
			top: -50px;
			right: -50px;
			width: 100px;
			height: 100px;
		}

	}

	.red {
		background-color: red;
	}

	.pink {
		background-color: pink;
	}

	.green {
		background-color: green;
	}

	.blue {
		background-color: blue;
	}

	.yellow {
		background-color: yellow;
	}

	.purple {
		background-color: purple;
	}

}