
article-card {
  padding-top: 40px;
  padding-bottom: 40px;
  /* */
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h3,
  a {
    margin-top: 20px;
  }

  .button {
    border: none;
    padding: 0;
    @media (width > 900px) {
      align-self: end;
      padding: 10px;
    }
    
/*    border-bottom: 1px solid black;*/
  }
}

