
articles-intro {
  display: block;
}

articles-intro header {
  margin-bottom: 40px;

  @media (width >= 900px) {
    p {
      max-width: 40%;
    } 
  }
  
}

articles-intro article-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}
