
call-to-action {
  display: flex;
  flex-direction: column;
  padding: 20px;
/*  margin-inline: auto;*/
/*  align-items: end;*/
  

  background-color: var(--red);
  
  max-width: 600px;

  @media (width >= 600px) {
    flex-direction: row;
    align-items: end;

    p {
      max-width: 85%;
    }
  }

  
  
}