
graphic-diptych {
  display: grid;
  gap: 25px;

  h1 + p {
    margin-top: 0;
  }
  
  text-content {
    display: block;
  }

  @media (width >= 900px) {
    grid-template-columns: repeat(3, 1fr);

    picture {
      grid-column: 2 / 4;
    }

    h1 {
      grid-row: 1;
      grid-column: 1;
      align-self: end;
    }

    p {
      grid-row: 2;
      grid-column: span 1;
      align-self: end;
/*      grid-column: 2 / 4;*/
    }

    call-to-action {
      grid-column: span 2;
    }
  }
}


