
mast-head {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;

  @media (width >= 460px) {
    align-items: center;
  }
}

mast-head nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px ;
  flex-wrap: wrap;
}


mast-head .logo {
  max-width: 200px;
}

mast-head .button {
  padding: 5px;
}

mast-head a {
  font-size: 1rem;
}

mast-head a:not(a:nth-of-type(1)) {
  text-decoration: underline;
/*  align-self: end;*/
}

@media (min-width: 600px) {
  mast-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .button {
      margin-top: 0;
    }

    .logo {
      max-width: 250px;
    }
  }
}
