
site-map {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px;
  margin-top: 20px;

  .logo {
    max-width: 175px;
  }

  h4 + a {
    margin-top: 12px;
  }

  a + a {
    margin-top: 10px;
  }
}




site-map a {
  font-size: 1rem;
/*  padding:  10px;*/
  text-decoration: underline;
}

@media (min-width:  700px) {
  site-map nav {
    width:  50%;
  }
}

@media (min-width:  900px) {
  site-map nav {
    width:  10%;
  }
}

site-map nav {
  flex-grow:  1;
}
