@import "reset.css";
@import "setup.css";

#app {
	--phone-color: #333;

	width: 100%;
	max-width: 360px;
	height: 700px;
	border-block: 50px solid var(--phone-color);
	border-inline: 5px solid var(--phone-color);
	border-block-end: 80px solid var(--phone-color);
	border-radius: 20px;

	padding: 30px 16px;
	
	overflow: scroll;


	.stage {
		border: 1px solid black;
		padding: 20px;
		text-align: center;
	}

	.seats-container {
		margin-top: 10px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;

		.seat {
			border: 1px solid black;
			padding: 20px;
		}

		.seat.selected {
			background-color: red;
		}
	}
}