:root {
	/*MAIN PALETTE*/
	--main-white: #FFFFFF;
	--main-black: #000000;

	/*ACCENT PALETTE*/
	--red: #C40003;
	--image-red:rgba(180, 50, 50, 0.8);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	overflow-x: hidden;
}

*::selection {
  background: var(--main-black);
  color: var(--main-white);
}
*::-moz-selection {
  background: var(--main-black);
  color: var(--main-white);
}
*::-webkit-selection {
  background: var(--main-black);
  color: var(--main-white);
}


.main-grid {
	display: grid;
	position: relative; 
	min-height: 100vh;
	@media (width >= 600px) {
		grid-template-columns: repeat(3, 1fr);
	}
}

inner-column {
	max-width: 1400px;
	display: block;
	margin-inline: auto;
	padding-block: 24px;
	padding-inline: 24px;

	@media (width >= 630px){
		padding-inline: 30px;
	}

	@media (width >= 1024px) {
		padding-inline: 72px;
		
	

a {
	text-decoration: none;
	display: block;
	color: inherit;
	/*max-width: fit-content;*/
}

p a {
	display: inline;
	color: inherit;
	text-decoration: underline;
}


picture {
	display: block;
}

img {
	display: block;
	width: 100px;
	height: 100px;
	aspect-ratio: 1/1;
	object-fit: contain;
}


.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

button:hover {
	cursor: pointer;
}